* {
    box-sizing: border-box;
}

div {
    padding: 200px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
    gap: 5px;
}

#container {
    display: grid;
    grid-template-areas: 
    'Header Header Header '
    'Nav Main Main'
    'Nav Main Main';
}

#item1 {
    grid-area: Header;
    font-size:100px;
    background-color:  solid rgb(202, 179, 179);
    margin: 10px;
    background-color: #f7f2ec; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height:30vh;
}

#item2 {
    grid-area: Nav;
    font-size:15px;
    margin: 10px;
    background-color: #f7f2ec; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height:60vh;
}

#item3 {
    grid-area: Main;
    font-size:20px;
    margin: 10px;
    background-color: bisque; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height:60vh;
}

.ball {
    font-size: 100px;
    text-align: center;
    animation: slidein 3s ease 0.5s 5;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

    footer{
        background-color: rgb(210, 205, 205);
        padding: 10px;
        text-align: center;
        color: white; 
    }

.active{
    color:rgb(75, 13, 13);
}
    
@media only screen and (max-width: 600px) {
    body {
        background-color: rgb(243, 236, 236);
    }
    #container {
        display: grid;
        grid-template-areas: 'Header Header'
        'Nav Nav'
        'Main Main';
    }}
    