<!doctype html>
<html>
<head>
    <title>
        Contact
    </title>
<body>
<h1 style="background-color: bisque; color:brown; font-size: 50px">Contact</h1>
<p style="margin: 5px;font-size:15px; border: 2px solid rgb(149, 77, 77); padding:20px; width: 200px; background-color: bisque; display: inline-block;">
Please fill your details below
</p>
<form>
    <label for="FirstName">First Name:</label>
    <input type="text" id="FirstName" name="FirstName">
    <label for="LastName">Last Name:</label>
    <input type="text" id="LastName" name="LastName"><br>
<label>Gender:</label><br>
    <input type="radio" id="male" name="gender">
    <label for="male">Male</label><br>
    <input type="radio" id="female" name="gender">
    <label for="female">Female</label><br>
    <input type="radio" id="other" name="gender">
    <label for="other">Other</label><br>

    <label for="age">age:</label>
    <input type="range" id="age" name="age"><br>

    <label for="phone">Phone number:</label>
    <input type="tel" id="phone" name="phone"><br>

    <label for="comment">leave a comment:</label><br>
    <textarea id="comment" name="comment" cols="30" rows="3"></textarea><br>

    <input type="submit" id="submit" name="submit">
    <label for="submit"></label><br>

</form>

</body>
</head>
</html>