<!doctype html>
<html>
<head>
    <title>
        Contact
    </title>
<body>
<h1 style="background-color: bisque; color:brown; font-size: 50px; text-align: center;">Contact</h1>

<form style="text-align: center; border:3px solid rgb(149, 77, 77); margin:10px; width:600px; background:bisque; padding: 80px; ">
    <label for="FirstName">First Name:</label>
    <input type="text" id="FirstName" name="FirstName">
    <label for="LastName">Last Name:</label>
    <input type="text" id="LastName" name="LastName"><br>
<label>Gender:</label><br>
    <input type="radio" id="male" name="gender">
    <label for="male">Male</label><br>
    <input type="radio" id="female" name="gender">
    <label for="female">Female</label><br>
    <input type="radio" id="other" name="gender">
    <label for="other">Other</label><br>

    <label for="age">age:</label>
    <input type="range" id="age" name="age"><br>

    <label for="phone">Phone number:</label>
    <input type="tel" id="phone" name="phone"><br>

    <label for="comment">leave a comment:</label><br>
    <textarea id="comment" name="comment" cols="30" rows="3"></textarea><br>

    <input type="submit"><br>

</form>

</body>
</head>
</html>