<!doctype html>
<html>
<head>
    <title>
        Contact us
    </title>
<body>
<h1 style="background-color: bisque; color:brown; font-size: 50px; text-align: center;">Contact us</h1>
<form style="text-align: center; border:3px solid rgb(149, 77, 77); margin:auto; width:620px; background:bisque; padding: 80px; ">
   <b><label for="FirstName">First Name:</label></b> 
    <input type="text" id="FirstName" name="FirstName">
 <b><label for="LastName">Last Name:</label></b> 
    <input type="text" id="LastName" name="LastName"><br><br>
    <b><label>Gender:</label></b><br>
    <input type="radio" id="male" name="gender">
    <label for="male">Male</label><br>
    <input type="radio" id="female" name="gender">
    <label for="female">Female</label><br>
    <input type="radio" id="other" name="gender">
    <label for="other">Other</label><br><br>
    <b><label for="email">Email:</label></b>
    <input type="email" id="email" name="email"><br><br>
    <b><label for="phone">Phone:</label></b>
    <input type="tel" id="phone" name="phone"><br><br><br>
    <b><label for="comment">leave a comment:</label></b><br>
    <textarea id="comment" name="comment" cols="30" rows="3"></textarea><br>
    <input type="submit"><br>
</form>
</body>
</head>
</html>