<!DOCTYPE html>
<html>
    <head>
        <title>
            home page
        </title>
        <style>
            footer{
                background-color: rgb(210, 205, 205);
                padding: 10px;
                text-align: center;
                color: white; 
            }
        </style>
    </head>
    <body>
        <div style="background-color:bisque; font-size: 50px; color:brown; text-align:center ; padding:10px;">
        <p style="text-align: center; ">Welcome to our site!</p>
        <img src="static\welcome.webp" alt="blabla" width="30%" class="center"><br>
    </div>

        <nav style="background-color:bisque; font-size: 20px; color:brown; text-align:center ; padding:5px;"><a href="contact.html" style="display:block"> contact us</a></nav>
    </body>

    <footer><p>mail to:<br> <a href="mailto:shirahei@pust.bgu.ac.il"> shirahei@pust.bgu.ac.il</a> </p></footer> 
</html>