<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/design.css">
        <script defer src="../static/ActiveNavBar.js"></script>
        <title>home page</title>
        <style></style>
    </head>
    <body>
        <div id="container">
            <div id="item1">Home</div>
            <nav id="item2">
                <p><a href="home.html">Home</a></p>
                <p><a href="contact.html">contact</a></p>
            </nav>
            <div id="item3">
                <div class="ball">Welcome</div>
            </div>
        </div>
    </body>
    <footer>mail to:<br><a href="mailto:shirahei@pust.bgu.ac.il">shirahei@pust.bgu.ac.il</a></footer> 
</html>